@charset "utf-8";
/* CSS Document */

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .timeline .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid ##4d4d4d;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4d4d4d transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

 @media (max-width: 991.98px) {
    .overlap-left {
      margin-left: 0px; } }

@media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }

@media (min-width: 768px) {
    .site-section-heading {
      font-size: 4rem; } }
@media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
 @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
 @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }
@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }
@media (max-width: 991.98px) {
      .site-blocks-cover h1 {
        font-size: 2rem; 
		width:100%;} }
 @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; } }
@media (min-width: 768px) {
	.site-blocks-cover .row{height: calc(21vh);
    width: 100%;}
      .podcast-entry .image {
        width: 300px;
        height: auto; } }
@media (min-width: 768px) {
      .podcast-entry .text {
        width: calc(100% - 300px); } }
@media (max-width: 991.98px) {
  .display-4 {
    font-size: 1.8rem; } }
@media (min-width: 992px) {
    .site-blocks-vs .bg-image {
      padding-top: 5em;
      padding-bottom: 5em; } }
@media (max-width: 991.98px) {
    .site-blocks-vs .image {
      margin-left: auto !important;
      margin-right: auto !important; } }
@media (min-width: 768px) {
    .slide-one-item.home-slider .owl-prev, .slide-one-item.home-slider .owl-next {
      font-size: 25px; } }
@media (min-width: 576px) {
        .block-12 .text .text-inner {
          padding: 20px; } }
 @media (min-width: 768px) {
        .block-12 .text .text-inner {
          padding: 30px 40px; } }
		 


